.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28230, 209, 119, 9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bg-light-gray{
    background-color: #264653;
    color: white;
    
}
.bg-light-gray:hover{
    color: white;
}
.btn-success-btn{
background-color: rgba(230, 209, 219, 0.938);
color: rgb(235, 224, 224);
padding: 0 20px;
}
.navbar-light .navbar-toggler{
    border: 1px solid rgba(230, 209, 219, 0.938);
}